/* --- SOME RESET --- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

ol {
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --- RESET --- */

body, p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 155%;
}

input, textarea, select, button {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 140%;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  margin-bottom: 40px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* --- Original end --- */

.app-content-wrap {
  width: 700px;
  margin: 0 auto;
}

.email-form {
  margin-top: 35px;
  font-size: 100%;
}

.email-form .prompt {
  font-weight: bold;
}

.email-form input {
  font-size: 100%;
}

.email-form .description {
  font-size: 90%;
  margin: 0.5em;
}

.tester__introduction {
  text-align: left;
  width: 520px;
  margin: 0 auto;
}

.tester__introduction ul {
  border-radius: 3px;
  border: 1px solid #d1d1d1;
  background-color: #f6f6f6;
  padding: 6px 5px 6px 35px;
}

.tester__introduction ul li {
  margin-top: 7px;
  margin-bottom: 7px;
}

.question {
  margin-top: 50px;
  text-align: left;
}
.question__text {
  margin-bottom: 10px;
  text-align: left;
  font-weight: bold;
}

.question__input {
  width: 300px;
}

.likert {
  text-align: center;
  display: flex;
  width: 100%;
  margin: 0 auto;
  /* max-width: 500px; */
}


.likert--col {
  justify-content: center;
  box-orient: vertical;
  flex-grow: 1;
  align-items: stretch;
}

.likert--col>div {
  min-height: 2em;
  justify-content: center;
}

table {
  margin: 0 auto;
  text-align: left;
  min-width: 400px;
  margin-top: 40px;
  margin-bottom: 40px;
}

td, th {
  border: 1px solid #afafaf;
  padding: 6px;
}

tbody tr:nth-child(odd) {
  background-color: #dddddd;
}

.thank-you {
  font-size: 20px;
}

.button-next {
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: #363636;
  font-size: 17px;
  font-weight: 500;
  background: #cacaca;
  padding: 6px 13px 5px 13px;
  text-decoration: none;
  cursor: pointer;
  margin: 25px;
}

.button-next:hover {
  background: #dddddd;
  text-decoration: none;
}

.button-next--start {
  margin: 0px;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* --- Old CSS --- */

.Model {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Consolas', 'Inconsolata', monospace;
}

.Writer {
  width: 600px;
}

.donePart {
  color: darkgray;
}

.badPart {
  color: darkred;
  font-weight: normal;
  position: absolute;
}

.black {
  color: black;
}

.devButtons {
  margin-top: 60px;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .8s ease-in;
}

.fix-model {
  height: 60px;
}

/* je to dostatočne Ok */

.model-leave {
  opacity: 0.01;
  transition: opacity .2s ease,
}

.writer-leave {
  color: #fff;
  transition: color .2s ease-out,
}